FLASK_APP=wsgi.py
FLASK_ENV=development

SQLALCHEMY_DATABASE_URI=postgresql://shyam:shyam@localhost:5432/flask_structure
DATABASE_URL=postgresql://shyam:shyam@localhost:5432/flask_structure

CACHE_TYPE="RedisCache"
CACHE_REDIS_URL="redis://localhost:6379/1"

RATELIMIT_STORAGE_URL="redis://localhost:6379/2"

MAIL_SERVER = 'localhost' #"smtp.gmail.com"
MAIL_PORT = 1025 #587
MAIL_USE_TLS = False #True
MAIL_USE_SSL = False
MAIL_USERNAME="shyam@example.com"
MAIL_PASSWORD="password"
MAIL_DEFAULT_SENDER="noreply@example.com"

CELERY_BROKER_URL="redis://localhost:6379/3"
CELERY_RESULT_BACKEND="redis://localhost:6379/3"

#celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0


# Flask Admin cerulean, simplex, yeti
FLASK_ADMIN_SWATCH=yeti
